/* formattazione */

.font-size-15{
    margin-top: 0;
    font-size: 15px;
}

.evidenziato{
    background-color: yellow;
}

.lightblue-background-color{
    background-color: lightblue;
}

.gray-color{
    color: gray;
}

/* inizio Header */

header{
    background: rgb(97, 160, 248) url(../img/pattern.png) repeat-x;
    background-size: 25%;
    height: 100px;
}

.logo{
    width: 200px;
    margin-top: 40px;
}

/* fine Header */

/* inizio main */

h1{
    margin: 20px 155px -30px 0;
    font-size: 50px;
}

.copyright{
    color: rgb(127, 127, 127);
    font-size: 25px;
}

.company{
    color: rgb(97, 160, 248);
}



/* fine main */